.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* ensures items start from left */
    padding-left: 0;
    /* remove any container padding */
}

.nav-list .nav-link:first-child {
    margin-right: auto;
    /* pushes the rest of the links to the right */
    margin-left: 0;
    /* ensures no extra space on left */
    padding-left: 0;
    position: fixed;
    top: 21px;
    /* removes padding from the link itself */
}

.nav-btn {
    transition: color 0.1s ease-in;
    font-size: 20px;
}

.nav-btn:hover {
    color: white;
}